@font-face {
  font-family: "DMSans";
  src: url(./assets/font/DMSans-Regular.ttf);
}

html body {
  width: 100vw;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0;
  font-family: "DMSans";
  color: white;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ), lightgray 50% / cover no-repeat;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.button {
  display: flex;
  padding: 6px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
}

#movietype {
  border-radius: 12px;
  background: rgba(243, 244, 246, 0.5);
  backdrop-filter: blur(1px);
}

.quiz {
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.7);
  background: rgba(248, 231, 235, 0.4);
  width: 170px;
  height: 210px;
  flex-shrink: 0;
}

.trailer {
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 449px;
}

.tag {
  border-radius: 15px;
  border: 1px solid #f8e7eb;
  padding: 3px 16px;
  color: #b91c1c;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

#best-movies {
  border-radius: 10px;
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(2px);
  padding: 12px 16px;
}

#loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 20;
  background-color: rgba(32, 32, 32, 0.75);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: scale .4s ease-in-out forwards;
  transition: all;
}

@keyframes scale {
  0% {
   transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
